<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>HashMasher</title>
        <link href="@Url.Content("~/Content/Bootstrap.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header>
             <div class="topbar">
              <div class="fill">
                <div class="container">
                  <a class="brand" href="#">HashMasher</a>
                  <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>`    
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                   @Html.Partial("_LogOnPartial")
                </div>
              </div>
            </div>
        </header>
        <div class="container">
            <div class="content">
                @RenderBody()
            </div>
            <footer>
                <p>Hey Now.</p>
            </footer>
        </div>
    </body>
</html>
