<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>HashMasher</title>
        <link href="@Url.Content("~/Content/Bootstrap.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <a href="https://github.com/detroitpro/HashMasher"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/edc6dae7a1079163caf7f17c60495bbb6d027c93/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"></a>
        <header>
            <div class="topbar">
                <div class="fill">
                    <div class="container">
                        @Html.ActionLink("HashMasher", "Index", "Home", null, new { @class = "brand"})
                        <ul class="nav">
                            <li class="active">
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                        </ul>
                        <ul>
                            @Html.Partial("_LogOnPartial")     
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="content">
                @RenderBody()
            </div>
            <footer>
                <p>Check My Style <a href="http://eric.polerecky.com/">@@detroitpro</a></p>
            </footer>
        </div>
    </body>
</html>
