@using HashMasher.Web
@model HashMasher.Model.ProcessedLink

<div class="row well">
    <div class="span1">
        <div class="count">@Model.NumberOfTweets</div>
        <div class="count-tweets">tweets</div>
    </div>
    <div class="span9">
        <p>@Html.Raw(Model.Flair) <a href="@Model.ExpandedLink" target="_blank">@Html.Truncate(Model.ExpandedLink, 60)</a></p>
        <div class="row">
            <div class="span1">@Html.Raw(@Model.LastUserImage())</div>
            <div class="span7">@Html.Raw(Model.LastText())</div>
        </div>
        

        <div class="tweeted-by">
            @foreach (var t in Model.StatusContainingLink)
            {
                <span><img height="24" width="24" src="@t.UserImage" alt="@t.User" /></span>
            }
        </div>
    </div>
</div>