@using HashMasher.Web
@model HashMasher.Model.ProcessedLink

<div class="row well">
    <div class="span1">
        <div class="count">@Model.NumberOfTweets</div>
        <div class="count-tweets">tweets</div>
    </div>
    <div class="span9">
        <p><a href="@Model.ExpandedLink" target="_blank">@Html.Truncate(Model.ExpandedLink, 60)</a></p>
        <div class="text">@Html.Raw(Model.LastText())</div>
        <button class="fake-link" id="who">Who Tweeted This?</button>
        <div class="tweeted-by" style="display: none">
            @foreach (var t in Model.StatusContainingLink)
            {
                <span><img height="24" width="24" src="@t.UserImage" /></span>
            }
        </div>
    </div>
</div>