@using HashMasher.Web
@model HashMasher.Model.ProcessedLink

<div class="row">
    <div class="span2">
        <div>@Model.NumberOfTweets</div>
    </div>
    <div class="span9">
        <p><a href="@Model.ExpandedLink" target="_blank">@Html.Truncate(Model.ExpandedLink, 60)</a></p>
        <div class="text">@Html.Raw(Model.LastText())</div>
        <div class="well">
            <button class="btn primary">Who Tweeted This?</button>
        </div>
        <div class="tweeted-by" style="display: none">
            @foreach (var t in Model.StatusContainingLink)
            {
                <span><img height="24" width="24" src="@t.UserImage" /></span>
            }
        </div>
    </div>
</div>